.full {
    background-color: #777777 !important;
}

.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 30px;
}

.navbar-nav {
    padding-right: 30px;
}

#card_div {
    margin: auto !important;
}

#headshot {
    background-color: white;
}

#about_me {
    background-color: white;
}